html {
    scroll-behavior: smooth;
}


body {
    background-color: #000000; 
    font-family: 'Times New Roman', Times, serif; 
}
header {
    background-color: #110102;
    border-bottom: 2px solid #d4a359;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    position: relative; 
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: #e2c185; 
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffffff;
    
}
.logo {
    position: relative;
    height: 49px;
}
.logo img {
    height: 11em;
    width: auto;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 10;
}
p{
   color: #ffffff; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    letter-spacing: 3px; 
}
footer {
    background-color: #110102;
    border-top: 2px solid #d4a359;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px; 
    width: 100%;
}
footer p{
    font-weight: bold;
}
main {
    max-width: 2400px;
    margin: 25px auto;
    padding: 0 1px;
}
.secao-cores {

    text-align: center;

    padding: 55px 20px 35px;
}

.secao-cores h2 {

    color: #d4a359; 

    font-size: 32px;

    letter-spacing: 5px;

    margin-bottom: 15px;
}

.secao-cores p, .descricao {

    font-size: 20px;

    color: #f8f3f3;
    background: linear-gradient(180deg, #500909 0%, #350505 100%);
    min-height: 60px;
    padding: 15px 15%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.lista-cores {

    width: 90%;

    max-width: 1000px;

    margin: 0 auto;

    display: flex;

    justify-content: center;

    align-items: stretch;

    gap: 30px;
}

.card-cor {

    width: 33.333%;

    background-color: #260606;

    border: 1px solid #d4a72c;

    padding: 10px;

    transition: 0.3s;
}

.card-cor:hover {

    transform: translateY(-8px);

    box-shadow:
        0 0 25px rgba(212, 167, 44, 0.25);
}


.card-cor img {

    width: 100%;

    height: 260px;

    display: block;

    object-fit: cover;
}


.card-cor h3 {

    color: #d4a72c;

    font-size: 15px;

    letter-spacing: 4px;

    padding: 18px 5px 10px;
}
.secao-logo {

    width: 100%;

    text-align: center;

    padding: 70px 30px;

    border-top: 1px solid #320808;
}

.secao-logo h2 {

    color: #d4a72c;

    font-size: 32px;

    letter-spacing: 7px;

    margin-bottom: 15px;
}


.logo-empresa {

    width: 420px;

    height: 320px;

    margin: 0 auto;

    background-color: #f3ebeb;

    border: 1px solid #d4a72c;

    padding: 25px;

    display: flex;

    align-items: center;

    justify-content: center;

    box-shadow:
        0 0 35px rgba(212, 167, 44, 0.12);
}

.logo-empresa img {

    width: 100%;

    height: 100%;

    object-fit: contain;
}
.secao-foto {

    width: 100%;

    padding: 20px 30px 80px;

    display: flex;

    justify-content: center;
}

.secao-foto img {

    width: 75%;

    max-width: 900px;

    height: 400px;

    object-fit: cover;

    display: block;

    border: 1px solid #d4a72c;
}



@media (max-width: 1000px) {

    .cabecalho {

        flex-direction: column;

        gap: 15px;
    }

    .logo-topo {

        position: static;
    }


    .lista-cores {

        flex-direction: column;

        width: 90%;

        gap: 25px;
    }

    .card-cor {

        width: 100%;
    }

    .logo-empresa {

        width: 85%;

        height: 280px;
    }

    .secao-foto img {

        width: 90%;

        height: 300px;
    }


}


@media (max-width: 1000px) {

    .secao-cores h2,
    .secao-logo h2 {

        font-size: 24px;

        letter-spacing: 4px;
    }

    .logo-empresa {

        width: 90%;

        height: 230px;
    }

    .secao-foto img {

        width: 95%;

        height: 250px;
    }

}