* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000; 
    font-family: 'Times New Roman', Times, serif; 
}
header {
    background-color: #110102;
    border-bottom: 2px solid #d4a359;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    position: relative; 
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: #e2c185; 
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffffff;
    
}
.logo {
    position: relative;
    height: 49px;
}
.logo img {
    height: 11em;
    width: auto;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 10;
}
p{
   color: #ffffff; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    letter-spacing: 3px; 
}
footer {
    background-color: #110102;
    border-top: 2px solid #d4a359;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px; 
    width: 100%;
}
footer p{
    font-weight: bold;
}
main {
    max-width: 2400px;
    margin: 25px auto;
    padding: 0 1px;
}
.informacoes-contato {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;

    gap: 28px;
}
.linha-contato {
    width: 100%;

    display: flex;
    align-items: stretch;

    gap: 25px;
}


.linha-contato h2 {
    width: 130px;
    min-width: 130px;

    min-height: 48px;

    background-color: #4b0a0a;

    color: #d4a72c;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-family: Georgia, "Times New Roman", serif;

    font-size: 12px;

    font-weight: normal;

    letter-spacing: 3px;
}

.conteudo-contato {
    flex: 1;

    min-height: 70px;

    padding: 10px 18px;

    background: linear-gradient(
        110deg,
        #f2c765,
        #c58a2c,
        #e3a844
    );

    color: #180505;

    font-family: Georgia, "Times New Roman", serif;

    font-size: 10px;

    font-weight: bold;

    letter-spacing: 1px;

    line-height: 18px;

    box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.25);
}


.conteudo-contato p {
    margin: 0;
}

.horario {
    min-height: 48px;

    text-align: justify;

    display: flex;

    flex-direction: column;

    justify-content: center;

    line-height: 11px;
}



.lista {
    min-height: 68px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    line-height: 15px;
}



@media (max-width: 650px) {

    .informacoes-contato {
        width: 90%;
    }

    .linha-contato {
        flex-direction: column;

        gap: 8px;
    }

    .linha-contato h2 {
        width: 100%;
        min-width: 0;

        min-height: 40px;
    }

    .conteudo-contato {
        width: 100%;
    }
}


