

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000; 
    font-family: 'Times New Roman', Times, serif; 
}
header {
    background-color: #110102;
    border-bottom: 2px solid #d4a359;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    position: relative; 
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: #e2c185; 
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffffff;
    
}
.logo {
    position: relative;
    height: 49px;
}
.logo img {
    height: 11em;
    width: auto;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 10;
}
p{
   color: #ffffff; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    letter-spacing: 3px; 
}
footer {
    background-color: #110102;
    border-top: 2px solid #d4a359;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px; 
    width: 100%;
    
}
footer p{
    font-weight: bold;
}
main {
    max-width: 2400px;
    margin: 25px auto;
    padding: 0 1px;
}

.titulo {
      font-size: 20px;

    color: #f8f3f3;
    background: linear-gradient(180deg, #500909 0%, #350505 100%);
    min-height: 60px;
    padding: 15px 15%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.titulo h2 {
     color: #d4a359; 

    font-size: 32px;

    letter-spacing: 5px;

    margin-bottom: 15px;
}

.faq {

    width: 94%;

    max-width: 900px;

    margin: 25px auto 0;

    display: grid;

    grid-template-columns: 1fr 1fr;

    column-gap: 25px;

    row-gap: 13px;
}


.pergunta {

    width: 100%;

    background: linear-gradient(
        to bottom,
        #f0c45b 0%,
        #c18a2c 55%,
        #7c4b16 100%
    );

    color: #080000;

    text-align: center;

    padding: 7px 10px;

    border-radius: 3px;

    box-shadow:
        0 2px 5px rgba(212, 167, 44, 0.25);

    min-height: 76px;
}


.pergunta h3 {

    font-size: 20px;

    font-weight: bold;

    margin-bottom: 4px;

    line-height: 15px;

    padding-bottom: 5px;
}

.pergunta p {

    font-size: 15px;

    line-height: 12px;

    font-weight: normal;
}



@media (max-width: 1000px) {

    .cabecalho {
        height: auto;

        min-height: 80px;

        padding: 10px;

        flex-wrap: wrap;

        justify-content: center;

        gap: 10px;
    }

    .logo {
        position: static;
    }

    .menu ul {
        flex-wrap: wrap;

        justify-content: center;

        gap: 12px;
    }

    .titulo {
        width: 100%;
    }

    .faq {
        grid-template-columns: 1fr;

        width: 90%;
    }

}